<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{% block title %}Paradise{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-responsive.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/paradisephotoapp/css/styles.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/paradisephotoapp/css/js-lib.css') }}" />
        {% endblock %}
            
        {% block stylesheets_custom %}
            <link rel="stylesheet" href="{{ asset('bundles/paradisephotoapp/css/selectize.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/paradisephotoapp/css/jqcloud.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/paradisephotoapp/css/jquery-uploader.css') }}" />
        {% endblock %}  
            
        {% block js %}
            <script src="{{ asset('bundles/paradisephotoapp/js/jquery-1.7.1.min.js') }}" type="text/javascript"></script> 
            <script src="{{ asset('bundles/paradisephotoapp/js/selectize.js') }}" type="text/javascript"></script> 
            <script src="{{ asset('bundles/paradisephotoapp/js/jqcloud-1.0.4.js') }}" type="text/javascript"></script> 
        {% endblock %} 
            
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
<body>
<div id="wrapper">
    
    <div id="header">
      <div class="container">
        <div class="row">
            <div class="span3">
                <div class="icon myphotos" title="Tagged to Me"></div>
                <div class="icon myfavorites" title="My Favorites"></div>
                <div class="icon trending" title="Trending"></div>
            </div>
            
            <div class="span6" id="globalSearch">
                <input type="text" id="search-criteria" value="">
            </div>
            
            <div class="span3">
                <a href="{{ path('upload') }}"  title="Upload photos"><div class="icon upload"></div></a>
                <a href="#"  title="Details page"><div class="icon detailspage"></div></a>
                <a href="{{ path('photo_gallery') }}"  title="Photo Gallery"><div class="icon grid"></div></a>
            </div>
        </div>
        </div>
    </div>
    
    <div class="container main-container">
        <div class="row" id="photoDetails">
            
            <div class="span7 "id="photoContent">
               
                <div id="preloader"></div>
                
                <div class="content photoID" id="">
                    
                    <div id="photoupload-header">UPLOAD PHOTOS</div>
                    
                    <div id="photdesc-panel">
                        <img alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash2/1119387_1637952240_1275408838_q.jpg" class="_s0 profilePic _rw img">
                        <textarea id="upload-desc" placeholder="enter album description..."></textarea>
                        <div id="photodesc_content"></div>
                    </div>    
                    
                    <div id="drop-files" ondragover="return false">Drop Images Here</div>

                        <div id="uploaded-holder">
                            <div id="dropped-files">
                                <div id="upload-button">
                                    <a href="#" class="upload">Upload!</a>
                                    <a href="#" class="delete">delete</a>
                                    <span>0 Files</span>
                                </div>
                            </div>
                            
                            <div id="extra-files">
                                <div class="number">0</div>
                                <div id="file-list">
                                   <ul></ul>
                                </div>
                            </div>
                        </div><!--/#uploaded-holder-->

                        <div id="loading">
                            <div id="loading-bar">
                                <div class="loading-color"> </div>
                            </div>
                            <div id="loading-content">Uploading file.jpg</div>
                        </div>

                        <div id="file-holder">
                            <span>Uploaded Files:</span>
                            <div id="uploaded-files-container">
                                <div id="uploaded-files"></div>
                                <div class="clear"></div>
                            </div>
                            
                             <div id="photoBulkTags">
                                <div id="uploaded-files-id"></div>
                                <span>Bulk Tags:</span><input type="text" id="addTags" value="" placeholder="add tags...">
                                <a href="">Upload new set of photos</a>
                            </div>    
                        </div>

                </div><!--/.photo-uploader-->
                
            </div> <!--/#photoContent--> 
             <div class="span5" id="photoFilters">
                <div class="contentainer">
                    <div class="filters">
                        {% for filter in filters %}
                             <div class="smallImg items">
                                 <a href="#" onclick="loadContent( {{ filter.id }} );">
                                    <img src="data:image/jpg;base64,{{ thumbnails['id'][filter.id] }}"/>
                                 </a>
                             </div>
                        {% endfor %}
                        <nav id="page_nav">{{ knp_pagination_render(filters) }}</nav>
                    </div>
                </div><!--.contentainer-->
                
                <div id="tagCloud" style="width: 90%; height: 350px;">
                    <textarea id="tags_list">{{ tag_cloud }}</textarea>
                </div>    
            </div><!--.span12-->
            
            
        </div><!--.row-fluid-->
    </div><!--.containerrow-fluid-->
</div><!--#wrapper-->

{% block javascripts %}
    <script src="{{ asset('bundles/paradisephotoapp/js/jquery-autogrow-textarea.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/paradisephotoapp/js/jquery.isotope.js') }}" type="text/javascript"></script> 
    <script src="{{ asset('bundles/paradisephotoapp/js/jquery.infinitescroll.min.js') }}" type="text/javascript"></script> 
    <script src="{{ asset('bundles/paradisephotoapp/js/js-rating/jquery.raty.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('bundles/paradisephotoapp/js/jquery.uploader.js') }}" type="text/javascript"></script>  
    
    <script type="text/javascript">
        $("#tags_list").hide();  
        $('#file-holder').hide();
        $('#photodesc_content').hide();
        
        var tag_list = [];  
        
        tag_list = $.parseJSON( $('#tags_list').html());
        
        $(document).ready(function(){
            $("#tagCloud").jQCloud(tag_list, {shape: "rectangular"});
            
            $('#preloader').hide();
        });
      
        var $container = $('.filters');
       
        $container.isotope({
            itemSelector : '.items',
            animationEngine : $.browser.opera ? 'jquery' : 'best-available',
            animationOptions : {
                duration: 750,
                easing: 'linear',
                queue: false
            }  
        });

        $container.infinitescroll({
                navSelector: '#page_nav', 
                nextSelector: '#page_nav a', 
                itemSelector: '.items', 
                loading: {
                    finishedMsg: 'No more photos to load.',
                    img: 'http://i.imgur.com/qkKy8.gif',
                    msgText:'Loading photos...'
                },
                animationEngine: 'best-available',
                bufferPx : 100,
                binder: $('.contentainer'),
                errorCallback: function(){
                    $('#page-nav').css({display: 'none'});
                }

            },function(newElements) {
                var $newElems = $(newElements);

                $newElems.imagesLoaded(function(){

                $newElems.animate({ opacity: 1 });

                $container.isotope('appended', $newElems );
            });
       });
        
    
    //BULK TAGGING
    $('#addTags').selectize({
        maxItems: null,
        plugins: ['remove_button'],
        valueField: 'unique',
        labelField: 'title',
        searchField: 'unique',
        optgroups: [
                {value: 'persons', label: 'Persons'},
                {value: 'workgroup', label: 'Work Group'},
                {value: 'events', label: 'Events'},
                {value: 'keywords', label: 'Keywords'}
        ],
        optgroupField: 'category',
        create: function(input) {
             return { title: input, unique: '4,'+input+',0', category: 'keywords'};
        },
        render: {
            option: function(item, escape) {
                var unique = item.unique;
                title = unique.split(',');
                return '<div class="option">'+ escape(title[1]) +'</div>';
            }
        },
        onItemAdd: function(item){
            var photoIDs = $('#uploaded-files-id').html();
            //alert(photoIDs);
            $.ajax({
                url: '/tags/bulk/',
                type: 'GET',
                data: { 
                    q : item, 
                    ids: photoIDs
                },
                error: function() { 
                   console.log('Error occurred while saving to database');
                },
                success: function(){
                   //console.log(res);
                }
            });
        },
        load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
                url: '/tags',
                type: 'GET',
                dataType: 'json',
                data: { 
                    searchword : query 
                },
                error: function() { 
                    callback(); 
                },
                success: function(res) {
                    callback(res.tags); 
                }
            });
        },
        onDelete: function(item){
            var photoIDs = $('#uploaded-files-id').html();
        
            $.ajax({
                url: '/tags/bulkdelete/',
                type: 'GET',
                data: { 
                    ids: photoIDs,
                    q : item
                },
                error: function() { 
                   console.log('Error occurred while delete from database');
                },
                success: function(){
                   //console.log(res);
                }
            });
        }   
    });
    
    //SEARCH PANEL
    $('#search-criteria').selectize({
        maxItems: null,
        plugins: ['remove_button'],
        valueField: 'unique',
        labelField: 'title',
        searchField: 'unique',
        optgroups: [
                {value: 'persons', label: 'Persons'},
                {value: 'workgroup', label: 'Work Group'},
                {value: 'events', label: 'Events'},
                {value: 'keywords', label: 'Keywords'}
        ],
        optgroupField: 'category',
        create: function(input) {
             return { title: input, unique: '4,'+input+',0', category: 'keywords'};
        },
        render: {
            option: function(item, escape) {
                var unique = item.unique;
                title = unique.split(',');
                return '<div class="option">'+ escape(title[1]) +'</div>';
            }
        },
        load: function(query, callback) {
            if (!query.length) return callback();
            $.ajax({
                url: '/tags',
                type: 'GET',
                dataType: 'json',
                data: { 
                    searchword : query 
                },
                error: function() { 
                    callback(); 
                },
                success: function(res) {
                    callback(res.tags); 
                }
            });
        }
    });
    
    function loadContent(id){ 
            $.ajax({	
                type: "GET",
                url: "../load/"+id, //data: 'id='+id, hack in symfony2
                dataType: "html",	
                beforeSend:function(){ 
                    $('#preloader').show();
                },
                success: function(data){

                    if(parseInt(data)!==0){
                        $('#photoContent').html(data);
                        $('#preloader').hide();
                    }
                },
                error: function(data){
                    if(parseInt(data)!==0){
                        $('#photoContent').html('Error occured.');	
                    }
                }     
            });
     }
      
    </script>
{% endblock %}
    
</body>
</html>
